beautifulsoup4
duckduckgo-search
google-genai
groq
langchain
langchain-community
langchain-core
langchain-google-genai
langchain-groq
langchain-huggingface
langgraph
pypdf
python-dotenv
streamlit
unstructured
wikipedia
